body{
     text-align: center;
}
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width: 800px;
    height: 400px;
    display: flex ;
    flex-direction: row  ;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    /* align-content: center; */

}

#box1{
    background-color: aqua;
}

#box2{
    background-color:blueviolet;
    height: 150px;
    /* align-self: flex-end; */
    /* flex-shrink: 2; */
    /* flex-shrink: 0; */
    /* flex-grow: 2; */
}

#box3{
    background-color: chartreuse;
    height: 70px;
}

#box4{
    background-color: brown;
    
}

#box5{
    background-color: coral;
}