div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    position: absolute;
    top: 100px;
    left: 100px;
    border: 2px solid black;

    /* transform: rotate(45deg); */
    /* transform: rotateX(45deg); */
    /* rotate: x 45deg; */
    /* transform: rotateX(90deg); */

    /* scale: 2; */
    /* transform: scale(2); */
    transition: all 2s ease-in;

}

div:hover{
    background-color: red;
    color: aliceblue;
    font-size: 20px;
    
    /* transform: rotate(45deg); */
    /* transform: scaleX(2); */
    /* transform: translate(200px);
    transform: translate(-200px);
    transform: translateY(200px);
    transform: translate(200px, 150px); */
    /* transform: skew(30deg); */
    /* transform: skewY(30deg); */
    
}